# Base ignore
/.buildpath
/.project
/.settings
/src/.buildpath
/src/.project
/src/.settings

/.jsbeautifyrc
/.php-cs-fixer.php
/.vscode
/src/.jsbeautifyrc
/src/.php-cs-fixer.php
/src/.vscode

/composer.lock
/vendor
/.env

/tools/GeoLite2/libs/*
!/tools/GeoLite2/libs/.gitkeep
/tools/GeoLite2/release

/src/assets/css/*.opt.css
/src/config.php
/src/data/cache/*
/src/data/config/config_ini.*.php
/src/data/config/diagnostic-*.xml
/src/data/config/efloodip.php
/src/data/config/banip.php
/src/data/config/admin_config.php
/src/data/config/disable_site_content.*.txt
/src/data/logs/data_logs/
/src/data/logs/dump_backup/
/src/data/logs/error_logs/
/src/data/logs/ip_logs/
/src/data/logs/ref_logs/
/src/data/logs/voting_logs/
/src/data/tmp/*
/src/uploads/logo_*
/src/assets/logo_*
/src/install/default.php

# Theme develop
/src/composer.lock
/node_modules
/package-lock.json

#vendor test ignore 
/src/includes/vendor/**/demo/
/src/includes/vendor/**/example/
/src/includes/vendor/**/examples/
/src/includes/vendor/**/test/
/src/includes/vendor/**/tests/
/src/includes/vendor/**/Tests/
/src/includes/vendor/**/travis*
/src/includes/vendor/**/.travis.yml
/src/includes/vendor/**/.scrutinizer.yml
/src/includes/vendor/**/phpunit.xml*
/src/includes/vendor/**/phpunit.php

#vendor docs ignore
/src/includes/vendor/**/doc/
/src/includes/vendor/**/docs/
/src/includes/vendor/**/readme*
/src/includes/vendor/**/README*
/src/includes/vendor/**/changelog*
/src/includes/vendor/**/CHANGELOG*
/src/includes/vendor/**/FAQ*
/src/includes/vendor/**/CONTRIBUTING*
/src/includes/vendor/**/HISTORY*
/src/includes/vendor/**/UPGRADING*
/src/includes/vendor/**/UPGRADE*
/src/includes/vendor/**/package*
/src/includes/vendor/**/phpunit.php
/src/includes/vendor/**/.gitignore
/src/includes/vendor/**/composer.*

# NukeViet Core Ignore
/scripts
/scss
/.github
/build
/tests
/tools
/src/.htaccess
/src/assets
/src/data
/src/admin
/src/modules
/src/includes
/src/install
/src/uploads
/src/themes
/codeception.dist.yml
/composer.json
/package.json
/rector.php
/src/api.php
/src/error.php
/src/favicon.ico
/src/index.php
/src/mload.php
/src/robots.php
/src/robots.txt
/src/sload.php
/src/web.config
/.env.example
/.gitattributes
/.stylelintrc.json
/CHANGELOG.txt
/COPYRIGHT.txt
/TODO.txt

# Ignore fix module files and directories.
!/src/modules/music

!/src/themes/default
/src/themes/default/*
!/src/themes/default/css
!/src/themes/default/js
!/src/themes/default/images
!/src/themes/default/modules
/src/themes/default/css/*
/src/themes/default/js/*
/src/themes/default/images/*
/src/themes/default/modules/*
!/src/themes/default/css/music.css
!/src/themes/default/js/music.js
!/src/themes/default/images/music
!/src/themes/default/modules/music

!/src/themes/admin_default
/src/themes/admin_default/*
!/src/themes/admin_default/css
!/src/themes/admin_default/js
!/src/themes/admin_default/images
!/src/themes/admin_default/modules
/src/themes/admin_default/css/*
/src/themes/admin_default/js/*
/src/themes/admin_default/images/*
/src/themes/admin_default/modules/*
!/src/themes/admin_default/css/music.css
!/src/themes/admin_default/js/music.js
!/src/themes/admin_default/images/music
!/src/themes/admin_default/modules/music
