td.fixbg{background-color: #eeeeee !important;}
td.strong{font-weight:bold}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.center{ text-align:center}
.toupper{text-transform:uppercase}
.infoerror, .requie{color:#FF0000}
.atop{vertical-align:top!important}
.fixwidthinput{width:98%}
.green{color:#3366CC!important}
.pointer {cursor: pointer;}
.aright{text-align: right!important}
.fixbottomtable{margin:0px 0px 3px 0px!important}
a.nounderline{text-decoration:none!important}

/* TABLE */
table.tab1{
	background:#fff;border-collapse:collapse;border-spacing:0px;caption-side:top;empty-cells:show;margin:0 0 5px 0;width:100%;
	
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    
}
table.tab1 caption{background:url('../images/arrows/arrow4_red.gif') no-repeat left center;font:bold 13px/27px Tahoma, Verdana, sans-serif;text-align:left;text-indent:12px}
table.tab1 tbody {
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f9f9f9));
    background-image: -webkit-linear-gradient(bottom, #fefefe 0%, #f9f9f9 100%);
    background-image: -moz-linear-gradient(bottom, #fefefe 0%, #f9f9f9 100%);
    background-image: -o-linear-gradient(bottom, #fefefe 0%, #f9f9f9 100%);
    background-image: -ms-linear-gradient(bottom, #fefefe 0%, #f9f9f9 100%);
    background-image: linear-gradient(bottom, #fefefe 0%, #f9f9f9 100%);
}
table.tab1 tbody.second {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #f1f1f1));
    background-image: -webkit-linear-gradient(bottom, #f6f6f6 0%, #f1f1f1 100%);
    background-image: -moz-linear-gradient(bottom, #f6f6f6 0%, #f1f1f1 100%);
    background-image: -o-linear-gradient(bottom, #f6f6f6 0%, #f1f1f1 100%);
    background-image: -ms-linear-gradient(bottom, #f6f6f6 0%, #f1f1f1 100%);
    background-image: linear-gradient(bottom, #f6f6f6 0%, #f1f1f1 100%);
}
table.tab1 td a, table.tab1 th a {color: #333;text-decoration: underline;}
table.tab1 td, table.tab1 th{padding:5px;border:1px solid #e0e0e0}
table.tab1 tfoot {
	font:inherit;
	font-weight:bold;
	white-space:nowrap;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #e8eaeb));
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -o-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -ms-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
}
table.tab1 th {background:#CCC;font-weight: normal;text-align: left}
table.tab1 thead{
	font:inherit;
	font-weight:bold;
	white-space:nowrap;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #e8eaeb));
    background-image: -webkit-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -moz-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -o-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: -ms-linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
    background-image: linear-gradient(bottom, #ededed 0%, #e8eaeb 100%);
}
table.tab1 tbody.third, table.tab1 tbody.third:hover{background:#efefef}
table.tab1 tbody:hover, table.tab1 tbody.second:hover{background:#efefef}

/* INPUT SIZE */
.txt-full{width:97.5%!important}
.txt-half{width:45.5%!important}
.txt-fullmini{width:91%!important}
.txt-quater{width:20%!important}
#filter-form .size1{width:150px}
#filter-form .size2{width:250px}

.middle{vertical-align:middle;cursor:pointer}
.autoscroll{max-height:200px;overflow:auto}
.textarea-animated{-webkit-transition: height 0.2s;-moz-transition: height 0.2s;transition: height 0.2s;}

/* TABLE COLUM */
.col-check{width:10px}
.col-date{width:100px}
.col-status{width:50px}
.col-feature{width:100px}
.col-sathor{width:200px}
.col-number,.col-image{width:70px}
.col-id{width:25px}

/* ICON */
.select-icon{background: url('../images/music/select-icon.png') no-repeat left center;padding-left: 17px}
.unselect-icon{background: url('../images/music/unselect-icon.png') no-repeat left center;padding-left: 17px}
.status-icon{background: url('../images/music/status-icon.png') no-repeat left center;padding-left: 17px}
.status-ok-icon{background: url('../images/music/status-ok-icon.png') no-repeat left center;padding-left: 17px}
.status-no-icon{background: url('../images/music/status-no-icon.png') no-repeat left center;padding-left: 17px}
.delete-icon{background: url('../images/music/delete-icon.png') no-repeat left center;padding-left: 17px}
.edit-icon{background: url('../images/music/edit-icon.png') no-repeat left center;padding-left: 17px}
.check-icon{background: url('../images/music/check-icon.png') no-repeat left center;padding-left: 17px}
.view-icon{background: url('../images/music/view-icon.png') no-repeat left center;padding-left: 17px}
.add-icon{background: url('../images/music/add-icon.png') no-repeat left center;padding-left: 17px}
.list-icon{background: url('../images/music/list-icon.png') no-repeat left center;padding-left: 17px}
.note-icon{background: url('../images/music/note-icon.png') no-repeat left center;padding-left: 17px}

/* SONG OF ALBUM */
.list_song{list-style-type:none;padding:0;margin:0}
.list_song li{list-style-type:none;padding:0px 0px 0px 10px;margin:0;display:block;background-color:#EEEEEE;border:1px #999999 solid;margin-bottom:3px;height:25px;line-height:25px;cursor:move;position:relative}
.list_song li span{position:absolute;top:0px;right:0px;cursor:pointer}

/* ORDER DATA */
.orderasc{height: 16px;padding-left: 16px;background-repeat: no-repeat;background-position: left center;background-image: url('../images/arrows/tall-up-arrow.gif');}
.orderdesc{height: 16px;padding-left: 16px;background-repeat: no-repeat;background-position: left center;background-image: url('../images/arrows/tall-down-arrow.gif');}
.orderno{height: 16px;padding-left: 16px;background-repeat: no-repeat;background-position: left center;background-image: url('../images/collapse-all.gif');}

/* INPUT */
.music-input{
    padding: 7px 10px;
    color: #555555;
    font-size: 12px;
    margin:0;
    font-family: 'Droid Sans', sans-serif;
    background-color: #fdfdfd;
    border: 1px solid #c2c2c2;
}
.music-input:hover{
	border: 1px solid #a2a2a2;
    outline: none;

    box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
}
.music-input:focus{
	border: 1px solid #737373;
    outline: none;

    box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
}
select.music-input{
    padding: 6px 9px;
}
.music-button{
    padding: 8px 30px 7px 30px;
    margin:0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    background-color: #FEAF25;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEAE25), color-stop(100%, #FFBC47));
    background-image: -webkit-linear-gradient(bottom, #FEAE25 0%, #FFBC47 100%);
    background-image: -moz-linear-gradient(bottom, #FEAE25 0%, #FFBC47 100%);
    background-image: -o-linear-gradient(bottom, #FEAE25 0%, #FFBC47 100%);
    background-image: -ms-linear-gradient(bottom, #FEAE25 0%, #FFBC47 100%);
    background-image: linear-gradient(bottom, #FEAE25 0%, #FFBC47 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ff9b30;
    text-shadow: 0px 1px 0px #ff7e00;
}
.music-button:hover{
    background-color: #FFA70F;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9900), color-stop(100%, #FFAF26));
    background-image: -webkit-linear-gradient(bottom, #FF9900 0%, #FFAF26 100%);
    background-image: -moz-linear-gradient(bottom, #FF9900 0%, #FFAF26 100%);
    background-image: -o-linear-gradient(bottom, #FF9900 0%, #FFAF26 100%);
    background-image: -ms-linear-gradient(bottom, #FF9900 0%, #FFAF26 100%);
    background-image: linear-gradient(bottom, #FF9900 0%, #FFAF26 100%);

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #ff7e00;
}
.music-button:active{
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.2) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.2) inset;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2) inset;
    border: 1px solid #ff6600;
}
.music-button-2{
    padding: 8px 30px 7px 30px;
    margin:0;
    color: #222222;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: #F0F0F0;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #F5F5F5));
    background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}
.music-button-2:hover{
    background-color: #E8E8E8;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8E8E8), color-stop(100%, #F5F5F5));
    background-image: -webkit-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #cecece;
}
.music-button-2:active{
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    border: 1px solid #c9c9c9;
}