ul.tabs {
	margin: 0;
	padding: 0 0 0 0px;
	float: left;
	list-style: none;
	height: 33px; /*--Set height of tabs--*/;
	width: 100%;
	background-repeat: repeat-x;
	background-image: url('../images/block-header-g1.png');
}
ul.tabs li {
	float: left;
	margin: 5px 0 0px 0;
	padding: 0;
	height: 21px; /*--Subtract 1px from the height of the unordered list--*/;
	line-height: 21px; /*--Vertically aligns the text within the tab--*/ /*--Pull the list item down 1px--*/;
	overflow: hidden;
	width: 123px;
	background-repeat: no-repeat;
	background-image: url('../images/music/tabs-1.png');
	text-align: center;
}
ul.tabs li a {
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 0 5px 0 5px;
	font-weight: bold;
}
ul.tabs li a:hover {
}
.tab_container {
	overflow: hidden;
	width: 100%;
	clear: both;
}

.tab_content {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.tab_content .picleft {
	float: left;
	width: 5px;
	height: 48px;
	background-repeat: no-repeat;
	background-image: url('../images/music/topalbumbg.png');
}
.tab_content img.first {
	padding: 6px 6px 9px 6px;
	margin: 0px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/music/m_album.png');
}
.tab_content .picright {
	margin: 0px;
	padding: 7px 0px 0px 5px;
	float: left;
	width: 386px;
	height: 48px;
	background-repeat: repeat-x;
	background-image: url('../images/music/topalbumbg.png');
}

.tab_content .picright span {
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-size: 14px;
	float: left;
	width: 100%;
	font-weight: bold;
}
.tab_content a:hover {
	text-decoration: underline;
}
.tab_content .first_a_song a {
	float: left;
	width: 48%;
	line-height: 24px;
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #CCCCCC;
	padding: 0px;
	margin: 0px 4px 0px 0px;
	color: #333333;
}
.tab_content .first_a_song {
	float: right;
	width: 386px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}
.tab_content .first_a_song a.listenall {
	line-height: 24px;
	background-repeat: no-repeat;
	background-image: url('../images/music/arrow.png');
	border-style: none;
	background-position: 0px 9px;
	text-indent: 10px;
	color: #b93d00;
}
.tab_content .topalbum_item {
	width: 104px;
	margin: 0px 0px 0px 17px;
	display: block;
	float: left;
	height: 180px;
}
.tab_content .topalbum_item img.item {
	padding: 6px 6px 9px 6px;
	margin: 5px 0px 7px 0px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/music/m_album.png');
}

.tab_content .topalbum_item a {

	width: 100%;

	display: block;

	line-height: 22px;

}

.topsong_container {
	overflow: hidden;
	float: left;
	width: 100%;
}
.topsong_content {
	margin: 0px 0px 0px 3px;
	color: #000000;
}
ul.topsong {
	margin: 0px;
	float: left;
	height: 21px;
	list-style-type: none;
	background-image: url('../images/music/bg.png');
	background-repeat: repeat-y;
	padding: 0px;
	width: 100%;
}
ul.topsong li {
	float: left;
	margin: -2px 0 0px 0;
	padding: 0;
	height: 21px; /*--Subtract 1px from the height of the unordered list--*/;
	line-height: 21px; /*--Vertically aligns the text within the tab--*/ /*--Pull the list item down 1px--*/;
	overflow: hidden;
	position: relative;
	width: 123px;
	background-repeat: no-repeat;
	background-image: url('../images/music/tabs-1.png');
	text-align: center;
	font-weight: bold;
}
.topsong_content .songitem {
	color: #000000;
	background-repeat: no-repeat;
	background-image: url('../images/music/listmusic.png');
	text-indent: 20px;
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #333333;
	margin: 4px 7px 0px 3px;
}
.topsong_content .songitem a {
	color: #000000;
	font-size: 11px;
}
.topsong_content .songitem a:hover {
	text-decoration: underline;
}
.topsong_content .songitem p {
	color: #666666;
	font-size: 11px;
}
.topsong_content .songitem a.songname {
	font-size: 12px;
}
#hotsinger {
	float: left;
	width: 100%;
}
#hotsinger .toph, #hotsinger .bottom {
	width: 90%;
	display: block;
	padding-right: 0px;
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-left: 23px;
}
#hotsinger .toph img {
	border-style: solid solid none solid;
	border-width: 1px;
	border-color: #E2E2E2;
	background-position: 0px 135px;
	padding: 2px 2px 14px 2px;
	margin: 5px auto 5px auto;
	display: block;
	float: left;
	background-image: url('../images/music/bottom_bg.gif');
	background-repeat: no-repeat;
}
#hotsinger .toph a.hssong {
	padding: 2px 0px 2px 6px;
	background-position: 1px 4px;
	margin: 0px;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #CCCCCC;
	background-repeat: no-repeat;
	background-image: url('../images/music/listmusic.png');
	width: 212px;
	line-height: 22px;
	text-indent: 26px;
	float: left;
	color: #000000;
}
#hotsinger .toph a.end {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#hotsinger .toph a.hssong:hover {
	background-color: #E4E4E4;
}
#hotsinger .bottom .itemhs
{
	float: left;
	width: 125px;
	margin-left: 20px;
}
#hotsinger .bottom .itemhs img
{
	padding: 3px 3px 9px 3px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/music/singger_bg.png');
}
#hotsinger .bottom .itemhs a
{
	color: #000000;
	font-weight: bold;
	text-indent: 3px;
	margin: 0px 0px 5px 0px;
	float: left;
}
#hotsinger .bottom .itemhs a:hover {
	color: #0066CC;
}
div.tool {
	float: right;
	margin-top: 15px;
}
div.tool a#play {
	float: right;
	background-image: url('../images/music/arrowicon.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
div.tool a.down {
	float: right;
	background-image: url('../images/music/icondown.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	cursor: pointer;
}
div.tool a.adds {
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
#listen_main{
	width: 488px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}
#listen_main p {
	padding: 5px 0px 5px 0px;
	margin: 0px;
}
object , embed{
	float: left;
}

.jw_playlist_playlist {
	border: 1px solid #999999;
	padding: 6px;
	width: 458px;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	float: left;
	margin-top: 10px;
}

.jw_playlist_image {
	width: 75px;
	height: auto;
}

.jw_playlist_image_div {
	border: 1px solid #000000;
	padding: 0 5px;
	margin: 0 5px;
	float: left;
	background-color: white;
	visibility: hidden;
	display: none;
}

.jw_playlist_item {
	padding: 6px 0px 6px 18px;
	cursor: pointer;
}

.clear {
	clear:both;
	height: 0;
}

.jw_playlist_title {
	float: left;
	color: #000000;
}
.jw_playlist_description {
	float: left;
	color: #333333;
}
.even {
	border-style: dotted none dotted none;
	border-width: 1px;
	border-color: #666666;
}
.odd {
	background-color: #EFEFEF;
}
.playing {
	background-repeat: no-repeat;
	background-image: url('../images/music/arrowicon.png');
	background-position: 0px 6px;
}
#listen_main .playercontainer {
	width: 475px;
	padding: 5px 0px 5px 5px;
	background-repeat: repeat;
	background-image: url('../images/music/bg.png');
	margin-left: 3px;
}
.jw_playlist_item:hover {
	background-repeat: no-repeat;
	background-image: url('../images/music/arrowicon.png');
	background-color: #C0C0C0;
	background-position: 0px 6px;
}
ul.tool {
	margin: 0px;
	width: 100%;
	float: left;
	height: 27px;
	list-style-type: none;
	padding: 0px;
}
ul.tool li {
	border: 1px solid #CCCCCC;
	float: left;
	height: 25px;
	position: relative;
	margin-right: 4px;
	padding-right: 10px;
	padding-left: 10px;
}
ul.tool li a.add {
	position: relative;
	background-image: url('../images/music/addmusic1.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
}
ul.tool li a {
	line-height: 25px;
	float: left;
	text-indent: 20px;
}
ul.tool li a.down {
	position: relative;
	background-repeat: no-repeat;
	background-image: url('../images/music/icondown.png');
	background-position: 0px 4px;
}
ul.tool li a.give {
	position: relative;
	background-repeat: no-repeat;
	background-position: 0px 4px;
	background-image: url('../images/music/icomem.png');
}
ul.tool li a.lyric {
	position: relative;
	background-image: url('../images/music/icoly.png');
	background-repeat: no-repeat;
	background-position: 0px 4px;
}
ul.tool li a.error {
	position: relative;
	background-repeat: no-repeat;
	background-position: 0px 4px;
	background-image: url('../images/music/ibaoxau.png');
}
.tool_container {
	clear: both;
	float: left;
}
#tab1 .sendtool {
	float: left;
	margin-left: 10px;
}
#tab1 .sendtool a.facebook {

	float: left;

	line-height: 30px;

	text-indent: 25px;

	background-repeat: no-repeat;

	background-position: 0px 5px;

	background-image: url('../images/music/facebook-icon.png');

}
#tab1 .sendtool a.sendtomail {
	float: left;
	line-height: 30px;
	text-indent: 25px;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-image: url('../images/music/sendtomail.png');
	margin-left: 20px;
}

#tab1 form {
	float: left;
	color: #333333;
	width: 485px;
	margin: 0px;
	padding: 10px 0px 10px 20px;
}

#tab1 form p {
	line-height: 20px;
}
#tab1 form input {
	width: 360px;
	padding: 3px 0px 3px 0px;
	border: 1px solid #999999;
	background-color: inherit;
	color: #666666;
	float: right;
	margin-right: 33px;
	margin-left: 0px;
}
#tab1 form textarea {
	width: 440px;
	border: 1px solid #999999;
	background-color: inherit;
	color: #666666;
	padding: 0px 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: right;
	margin-right: 33px;
}
.submitbutton {
	border: 1px solid #CCCCCC;
	width: 60px;
	margin: 5px auto 5px auto;
	color: #204f87;
	float: left;
	background-repeat: repeat-x;
	background-image: url('../images/music/tag_bg.gif');
	cursor: pointer;
}
#main .commentcontainer .comment{
	background-color: #E4E4E4;
	margin-bottom: 3px;
	padding: 3px;
}
#addCommentContainer{
	padding-left: 3px;
}
.comment .avatar{
	/*
	/	The avatar is positioned absolutely, 
	/	and offset outside the comment div
	/*/

	padding: 0px;
	margin: 0px 3px 0px 5px;
	height: 50px;
	width: 50px;
	background: #fcfcfc url('../images/music/default_avatar.gif') no-repeat;
	float: left;
}
.comment .avatar img{
	width: 50px;
	height: 50px;
}
.comment .name{
	color: #0066CC;
}
.comment .date{
	margin: 0px 0px -3px 0px;
	font-size: 10px;
	padding: 0px;
	color: #666666;
}

.comment p,
#addCommentContainer p{
	padding: 0px 0px 0px 5px;
	overflow-x: hidden;
	font-size: 11px;
}
#addCommentContainer input[type=text],
#addCommentContainer textarea{
	width: 400px;
	padding: 3px;
	border: 1px solid #999999;
	background-color: inherit;
	float: right;
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

label{
	font-size:10px;
}

label span.error{
	color:red;
	position:relative;
	right:-10px;
}

/* The styles below are only necessary for the styling of the demo page: */

#main{
}
#main .commentcontainer {
	padding-left: 3px;
	padding-right: 3px;
}
#addCommentContainer label {
	line-height: 25px;
	float: left;
	font-size: 11px;
}
#main .commentcontainerbo {
}
#tab3 form {
	float: left;
	margin-left: 20px;
}
#tab3 form p {
	line-height: 22px;
}
#tab3 form input {
	width: 360px;
	padding: 3px 0px 3px 0px;
	border: 1px solid #999999;
	background-color: inherit;
	color: #666666;
	float: right;
	margin-right: 33px;
	margin-left: 0px;
}
#tab3 form textarea {
	width: 440px;
	border: 1px solid #999999;
	background-color: inherit;
	color: #666666;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: right;
	margin-right: 33px;
}
#tab3 form a.submit {
	border: 1px solid #CCCCCC;
	padding: 5px 10px 5px 10px;
	width: 60px;
	margin: 5px 0px 5px 20px;
	color: #0053A6;
	float: left;
	background-repeat: repeat-x;
	background-image: url('../images/music/tag_bg.gif');
	cursor: pointer;
	height: 25px;
	line-height: 60px;
}
#playlistcotainer {
	padding: 10px;
	float: left;
	overflow: hidden;
}
#playlistcotainer .playlistitem {
}
#playlistcotainer .playlistitem a {
	color: #0066CC;
}
#playlistcotainer .playlistitem p {
	font-size: 11px;
}
#playlistcotainer .playlistitem span {
	font-size: 11px;
	color: #999999;
}
#playlistcotainer .playlistitem a.next {
	float: right;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('../images/music/Next.png');
}
#playlistcotainer .playlistitem a.frev {
	float: right;
	width: 25px;
	height: 25px;
	background-image: url('../images/music/prev.png');
	background-repeat: no-repeat;
}
a.show_lyric {
	background-repeat: no-repeat;
	background-image: url('../images/music/upload.png');
	float: right;
	margin: 5px 20px 5px 5px;
	height: 25px;
	padding-left: 25px;
	cursor: pointer;
	font-weight: bold;
	color: #000000;
}
#sendlyric {
	float: left;
	width: 100%;
	display: none;
	color: #000000;
}
#sendlyric form input, #sendlyric form textarea {
	padding: 0px 5px 0px 5px;
	border: 1px solid #000000;
	float: left;
	width: 450px;
	background-color: inherit;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 15px;
}
#album_info {
	padding: 5px;
	float: left;
	width: 470px;
	margin: 5px 10px 5px 0px;
	color: #000000;
}
#album_info img {
	float: left;
	margin: 10px 10px 5px 0px;
	padding: 6px 6px 9px 6px;
	background-image: url('../images/music/m_album.png');
	background-repeat: no-repeat;
}
#album_info span {
	line-height: 20px;
}
#album_info p {
	text-align: justify;
}
a.listsong, div.listsong {
	width: 95%;
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #808080;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	background-image: url('../images/music/listmusic.png');
	line-height: 25px;
	color: #000000;
	display: block;
	text-indent: 15px;
	padding-left: 4px;
}
#giftcontainer {
}
#giftcontainer .item {
	width: 100%;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	padding-bottom: 3px;
	padding-top: 3px;
}
#giftcontainer .item a.songname {
	background-image: url('../images/music/listmusic.png');
	line-height: 16px;
	background-repeat: no-repeat;
	text-indent: 18px;
	color: #0066CC;
	float: left;
	width: 100%;
}
#giftcontainer .item p {
	font-size: 11px;
	color: #666666;
	text-align: justify;
}
#giftcontainer .item a.showmess {
	cursor: pointer;
	color: #0066CC;
	font-size: 10px;
}
#giftcontainer .item p span {
	font-size: 9px;
	color: #000000;
}
#menuleft {
	margin: 0px;
	padding: 0px;
}
#menuleft ul li {
	padding: 2px 0px 2px 3px;
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	line-height: 20px;
	position: relative;
}
#menuleft ul li a {
	color: #333333;
}
#menuleft ul li a:hover {
	color: #000000;
}
#searchcontent {
	float: left;
	color: #000000;
	width: 500px;
}
#searchcontent .resuirt {
	margin: 0px;
	float: left;
	width: 478px;
	padding: 10px;
}
.gray {
	background-color: #CCCCCC;
}
#searchcontent .itemsearch {
	float: left;
	color: #000000;
	background-repeat: no-repeat;
	background-image: url('../images/music/listmusic.png');
	padding: 7px 0px 7px 24px;
	width: 450px;
	background-position: 3px 4px;
}
#searchcontent .itemsearch p {
	float: left;
	width: 380px;
	height: 16px;
	line-height: 16px;
	padding: 0px;
	margin: 0px;
}
#searchcontent .itemsearch a.title {
	float: left;
	width: 70%;
	color: #000000;
	font-weight: bold;
}
#searchcontent .itemsearch .tool {
	float: right;
}
#searchblock form {
	padding: 6px 0px 0px 6px;
	width: 494px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('../images/music/search_bg.png');
	margin-bottom: 10px;
}
#searchblock form .sed {
	margin: -3px 8px 0px 0px;
	float: right;
	width: 60px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('../images/music/search_sub.gif');
	border-style: none;
	border-width: 0px;
	border-color: inherit;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	line-height: 25px;
}
#searchcontent .resuirt img.album {
	float: left;
	padding: 6px 6px 9px 6px;
	background-repeat: no-repeat;
	background-image: url('../images/music/m_album.png');
}
#album {
	float: left;
	padding-left: 10px;
}
#boder {
	float: left;
	height: 1px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
}
#searchcontent h2.album {
	padding: 10px 0px 10px 10px;
	margin: 0px;
	float: left;
	width: 488px;
	background-repeat: repeat;
	background-image: url('../images/music/bg.png');
	font-size: 12px;
	font-weight: bold;
}
#numpage {
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#numpage p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
#numpage a.next {
	color: #000000;
	line-height: 23px;
	padding: 2px 4px 2px 4px;
	margin-right: 3px;
	margin-left: 3px;
}
#numpage a {
	line-height: 23px;
	text-decoration: none;
	font-weight: bold;
}
#numpage a:hover {
	text-decoration: underline;
}
#numpage a.next:hover {
	color: #333333;
	line-height: 23px;
	padding: 2px 4px 2px 4px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	font-weight: bold;
}
div.blockalbum {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 11px;
}
div.blockalbum img {
	padding: 3px 3px 7px 3px;
	margin-right: 4px;
	display: inline;
	background-repeat: no-repeat;
	background-image: url('../images/music/m_hotalbum.png');
}
div.blockalbum a {
	float: left;
}

div.blockalbum a.black {
	color: #000000;
}
#menuleft ul {
	margin: 0px;
	padding: 0px;
	display: block;
	list-style-type: none;
}
#main p.tttt {
	padding: 0px;
	margin: 0;
	width: 100%;
	float: left;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
#searchblock form input {
	border-style: none solid none none;
	border-width: 1px;
	border-color: #999999;
}
#searchblock form select {
	border-style: none;
}
ul.tool li.active {
	background-repeat: repeat-x;
	background-image: url('../images/music/tag_bg.gif');
}
#boderfull {
	border: 1px solid #D3D3D3;
}
#sendlyric p {
	float: left;
	width: 400px;
	color: #666666;
	font-style: italic;
	padding-left: 20px;
}
.header-block1 .active {
	background-repeat: repeat-x;
	background-image: url('../images/block-header-g1.png');
}
.addedtolist {
	background-repeat: no-repeat;
	background-image: url('../images/music/added.png');
}
.add {
	background-image: url('../images/music/addmusic1.png');
	background-repeat: no-repeat;
}
ul.tool li a.addedtolist1 {
	background-position: 0px 4px;
	background-repeat: no-repeat;
	background-image: url('../images/music/added.png');
	position: relative;
}
#playlisttool {
	padding-left: 28px;
	float: left;
	margin-bottom: -7px;
}
#playlisttool a {
	float: left;
	width: 25px;
	height: 28px;
	margin: 2px 7px 2px 7px;
}
#playlisttool a.showplaylist {
	background-repeat: no-repeat;
	background-image: url('../images/music/tool.png');
	background-position: -50px 0px;
}
#playlisttool a.saveplaylist{
	background-repeat: no-repeat;
	background-image: url('../images/music/tool.png');
	background-position: -75px 0px;
}
#playlisttool a.listenplaylist{
	background-repeat: no-repeat;
	background-image: url('../images/music/tool.png');
	background-position: 0px 0px;
}
#playlisttool a.delplaylist{
	background-repeat: no-repeat;
	background-image: url('../images/music/tool.png');
	background-position: -125px 0px;
}
div.tools {
	float: right;
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: -34px -2689px;
	background-image: url('../images/music/icon.gif');
	margin-top: 4px;
}
div.tools:hover {
	background-repeat: no-repeat;
	background-position: -34px -2673px;
	background-image: url('../images/music/icon.gif');
}
#videocate {
	width: 608px;
	background-color: #DFF4FF;
	padding: 5px;
}
.frontmin {
	font-size: 11px;
	color: #FF9900;
}
#videos {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	width: 99%;
	margin-left: 5px;
	padding-top: 5px;
}
#videos:hover {
	background-color: #F8F8F8;
}
#videoitem {
	padding: 3px 3px 10px 3px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/music/videobg.png');
	width: 128px;
}
#subsearch {
	padding-top: 10px;
	padding-bottom: 5px;
	float: left;
}
#subsearch img {
	float: left;
	padding: 0px;
	margin: 0px 0px 6px 0px;
	background-image: inherit;
}
#salbum {
	float: left;
	width: 110px;
}
#salbum img.item {
	padding: 6px 6px 9px 6px;
	margin: 5px 0px 7px 0px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('../images/music/m_album.png');
}
#videoblockitem {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	float: left;
	width: 100%;
	padding: 4px 0px 2px 0px;
}
#videoblockitem img {
	background-repeat: no-repeat;
	background-image: url('../images/music/block_video_img.png');
	padding: 3px 3px 7px 3px;
	float: left;
	margin-right: 3px;
}
